.description{
    width: 100%;
    color: white;
    background: black;
    padding: 0px 0px 0px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34%;
    .synopsis{
        font-size: 26px;
        text-align: left;
        font-style: italic;
    }
    .release-date{
        font-size: 100px;
        font-style: italic;
        text-align: left;
    }
}